*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 1200px;
    margin: auto auto;
}
html{
    scroll-behavior:smooth;
}
body{
    background-color: #85808028;
}
.clearfix{
    content: "";
    display: block;
    clear: both;
}
nav{
    background-color: #FF8C76;
    padding: 2rem;
    width: 100%;
    z-index: 1;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.logo-box{
    display: inline-block;
}
.logo-box a{
    font-size: 2rem;
}
.logo-box a:hover{
    background-color: #28425E;
    padding: 0.5rem;
    border-radius: 1rem;
}
.nav-links{
    float: right;
}
.nav-links li{
    float: left;
    margin-right: 2rem;
}
.nav-links a{
    font-size: 1.5rem;
}
.nav-links li{
    list-style-type: none;
    /* margin-right: 3rem; */
}
.nav-links li a:hover{
    color: #28425E;
}
.footer{
    height: 15vh;
    background-color: #28425E;
    width: 100%;
}
.left-side{
    display: inline-block;
}
.left-side li{
    float: left;
    margin-left: 2rem;
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 3.5rem;
    position: relative;
    top: 0px;
}
.left-side li:hover{
    font-size:2rem;
    top: -0.5rem;
}
.left-side ul{
    margin-left: 5rem;
}
.right-side{
    float: right;
}
.icons-1{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    border: 2px solid #fff;
}
.icons-1:hover{
    background-color: #fff;
    color: #2B3C53;
}
.right-side ul{
    margin-right: 10rem;
}
.right-side li{
    float: left;
    list-style-type: none;
    margin-top: 2rem;
    margin-right: 1rem;
}
/*                     SİGN UP PAGE                    */
.signup-page{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.signup-title{
    font-size: 3rem;
    text-align: center;
    color: #28425E;
}
.signup-form{
    width: 40vw;
    margin: auto;
    height: 57vh;
}
.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select{
    display: block;
    width: 100%;
    margin-top: 1rem;

}
.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label{
    display: inline-block;
    width: auto ;   
}
.signup-form button[type="submit"]{
    display: block;
    margin-top: 1rem;
}
label a{
    color: #28425E;
    position: relative;
    top: 0px;
    right: 0px;
}
label a:hover{
    font-size: 1.2rem;
    right: -0.1rem;
    top: -0.2rem;
}
.signup-form input:not([type="checkbox"]),
.signup-form select{
    border: 1.5px solid #28425E;
    padding: 1rem 1.3rem;
}
.signup-form input:not([type="checkbox"]):hover,
.signup-form select:hover{
    outline: none;
    background-color: #a0bcda;
    border: 1px solid #FF8C76;
}
.signup-form input[type="checkbox"]{
    appearance: none; /*checkbox'ın varsayılan özelliklerini kapatır yani bir görüntüsü olmaz.*/
    width: 1.2rem;
    height: 1.2rem;
    border: 1.3px solid #28425E;
    border-radius: 0.2rem;
    vertical-align: bottom;
    margin-right: 1rem;
}
.signup-form input[type="checkbox"]:checked{
    background-color: #FF8C76;
}