* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    /*Html içindeki bütün etiketlerin font büyüklüğünü 10 px yaptık yani mobile göre başladık daha sonra bunu tablet ve bilgisayara göre gerekli yerlerde değer verip ezeceğiz.*/
    font-size: 9px;
}
body{
font-family: 'Open Sans', sans-serif;
color: #fff;
background-color: #333;
line-height: 1.5;
text-align: center;
font-size: 1.6rem; /*Yukarıda html etiketine verdiğimiz 10 px in 1.6 katı yani 16px font-size verdik body'e*/
}
a {
    text-decoration: none;
}
p {
    padding: 1.6rem 0;
    font-size: 2rem;
}
img {
    width: 100%;
    height: auto;
}
header{
    height: 45rem;
}
header .bg-image{
    background-image:url(..//0-İmages/4.jfif);
    height: 45rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    z-index: -1; /*Position absolute yaptığımızda arka plan resmi akış içerisinden çıkar ve yazdığımız yazı resmin üstüne gelir.Fakat arka opacity değeri verdiğimiz için yazıda saydam gözüküyor. Z indexi -1 yaparak arka plana atarız ve yazılar verdiğimiz renkte gözükür.*/
}
header h1{
    padding: 11rem;
    padding-bottom: 0px;
}
.btn{
    background-color: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.5rem 3rem;
    margin: 8rem 4rem;
    display: inline-block; /*display inline-block yapmadan margin değeri veremiyoruz.*/
    transition: all 1s;
}
.btn:hover{
    background-color: #eaeaea;
    color: #333;
}
/*Section-a*/
#section-a{
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
}
/*Section-b*/
#section-b{
    padding: 2rem;
}
#section-b ul {
    list-style-type: none;
}
#section-b li {
    background-color: #fff;
    color: #333;
}
#section-c{
    background-color: #eaeaea;
    color: #333;
    padding: 5rem;
}
#section-d .box:first-child{
    background-color: #2990d4;
}
#section-d .box{
    padding:5px;
}
footer{
    padding: 4rem;
    background-color: #000;
}
footer a{
    color: #2690d4;
}
@media screen and (min-width:700px) {
    #section-b ul li{
        width: 28%;
        display: inline-block;
        margin: 1%;
    }
    .box{
        width: 50%;
        float: left;
    }
    html{
        font-size: 11px;
    }
    
}
@media screen and (min-width: 1200px){
    html{
        font-size: 13px;
    }
   
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}
