p{
    font-size: 40px;
}
#container{
    width: 100%; 
}
#oyuncular{
    width: 70%;
    float: left;
}
#yazar{
    background-color: inherit;
    width: 25%;
    float: right;
    position: relative; /* Absolut.Tüm html sayfasına göre belirttiğimiz konuma göre yerleşir.Relative: sahip olduğu pozisyondan yukarı aşşağı sağa sola doğru ayarlama yapmamızı sağlar.Yani mevcut kapladığı alan üzerinden hareket ettiririz.*/
    top: 20px;
    right: 0;
}
body{
    background-color: lemonchiffon;
}
h1{
    position: sticky; /*Scrool bar aşağı kayarken yazı onunla beraber gider genellikle menülerde kullanılır.*/
    top: 20px;
}